.layout {
  height: 100%;
  width: 200px;
  background-color: rgb(20, 20, 20);
  padding: 20px;
  cursor: default;
  transition: width 0.3s ease-out;
}

.layout.active {
  width: 0px;
  padding: 0;
  margin: 0;
  transition: 300ms;
}

.layout.active * {
  display: none;
}

.topBar {
  display: flex;
  justify-content: space-between;
  padding-inline: 5px;
  width: 100%;
}

.topBar > button {
  background-color: transparent;
  font-size: 0.8rem;
  transition: 300ms;
  border-radius: 5px;
}

.noteContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.noteContainer > ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-y: auto;
  scrollbar-width: none;
  padding-block: 5px;
}

.noteContainer > ul::-webkit-scrollbar {
  display: none;
}

.noteContainer > h1 {
  padding: 5px 5px;
  margin-top: 20px;
}

@media (max-width: 750px) {
  .layout {
    width: 100%;
    position: fixed;
  }
}
