.layout {
  width: 100%;
  position: fixed;
  padding-inline: 5vw;
  padding-block: 20px;
  top: 0;
  left: 0;
  font-size: 1.2rem;
}

.navWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navWrapper > ul {
  display: flex;
  gap: 30px;
}

.navWrapper ul > li {
  list-style: none;
}

.navWrapper li > button {
  background-color: transparent;
  font-size: inherit;
}

.navWrapper li > a {
  text-decoration: none;
}
