:root {
  --app-bg: rgb(25, 25, 25);
  --popup-bg: rgb(30, 30, 30);
  --btn-hover-bg: rgb(50, 50, 50);
}

button {
  cursor: pointer;
  border: 0;
}

main {
  height: 100vh;
  display: flex;
}

.appLayout {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
